allow recovery service_manager_service:service_manager { find };

# Allow recovery to read properties
allow recovery adbd_prop:file { open getattr map };
allow recovery apexd_prop:file { open getattr map };
